In [1]:
import pandas as pd

In [4]:
data = pd.read_csv('data/artwork_sample.csv')
data.head(2)

,id,accession_number,artist,artistRole,artistId,title,dateText,medium,creditLine,year,acquisitionYear,dimensions,width,height,depth,units,inscription,thumbnailCopyright,thumbnailUrl,url
0,1035,A00001,"Blake, Robert",artist,38,A Figure Bowing before a Seated Old Man with h...,date not known,"Watercolour, ink, chalk and graphite on paper....",Presented by Mrs John Richmond 1922,NaN,1922,support: 394 x 419 mm,394,419,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-a-fi...
1,1036,A00002,"Blake, Robert",artist,38,"Two Drawings of Frightened Figures, Probably f...",date not known,Graphite on paper,Presented by Mrs John Richmond 1922,NaN,1922,support: 311 x 213 mm,311,213,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-two-...

In [5]:
data.loc[0:2, ['artist', 'title']] # get 0th-2nd rows, artist and title column

          artist                                              title
0  Blake, Robert  A Figure Bowing before a Seated Old Man with h...
1  Blake, Robert  Two Drawings of Frightened Figures, Probably f...
2  Blake, Robert  The Preaching of Warning. Verso: An Old Man En...

In [6]:
data.iloc[0:2, ['artist', 'title']] # cannot use .iloc to index columns by name

IndexError: .iloc requires numeric indexers, got ['artist' 'title']

In [12]:
data.iloc[0:2, [2,5]]

          artist                                              title
0  Blake, Robert  A Figure Bowing before a Seated Old Man with h...
1  Blake, Robert  Two Drawings of Frightened Figures, Probably f...

#### Reset index of dataframe to see real difference bx .loc (targets label) and .iloc (targets index)

In [17]:
data.set_index('id', inplace=True) # now 'id' is the index

KeyError: "None of ['id'] are in the columns"

In [16]:
data.head(2) # imagine invisible 'position' column before 'id'

,accession_number,artist,artistRole,artistId,title,dateText,medium,creditLine,year,acquisitionYear,dimensions,width,height,depth,units,inscription,thumbnailCopyright,thumbnailUrl,url
id,,,,,,,,,,,,,,,,,,,
1035,A00001,"Blake, Robert",artist,38,A Figure Bowing before a Seated Old Man with h...,date not known,"Watercolour, ink, chalk and graphite on paper....",Presented by Mrs John Richmond 1922,NaN,1922,support: 394 x 419 mm,394,419,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-a-fi...
1036,A00002,"Blake, Robert",artist,38,"Two Drawings of Frightened Figures, Probably f...",date not known,Graphite on paper,Presented by Mrs John Richmond 1922,NaN,1922,support: 311 x 213 mm,311,213,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-two-...

In [18]:
data.loc[0:2, ['artist', 'title']] # get 0th-2nd rows, artist and title column

Empty DataFrame
Columns: [artist, title]
Index: []

In [22]:
data.iloc[0:2, [1,4]] 
# .iloc targets that invisible 'POSITION' column to return the "first two rows"
# note also the shift in column index number

             artist                                              title
id
1035  Blake, Robert  A Figure Bowing before a Seated Old Man with h...
1036  Blake, Robert  Two Drawings of Frightened Figures, Probably f...

In [21]:
# if we want to use .loc:
data.loc[1035:1036, ['artist', 'title']]
# .loc uses the SET INDEX to return the "first two rows"

             artist                                              title
id
1035  Blake, Robert  A Figure Bowing before a Seated Old Man with h...
1036  Blake, Robert  Two Drawings of Frightened Figures, Probably f...