### SQLite is a database engine that makes it simple to store and work with relational data.
Much like the csv format, SQLite stores data in a single file that can be easily shared with others. Most programming languages and environments have good support for working with SQLite databases. Python is no exception, and a library to access SQLite databases, called sqlite3, has been included with Python since version 2.5.

In [1]:
import sqlite3

To connect to the database, we can use sqlite3.connect function by passing the name of a file to open or create it:

In [6]:
db = sqlite3.connect('data/test.db') # created a dummy database called test.db

To use the database, we need to get a **cursor object** and pass the SQL statements to the cursor object to **execute** them. Then, we should **commit** the changes.

In [7]:
cursor = db.cursor() # remember you defined db as above

In [9]:
cursor.execute('''CREATE TABLE orders
(orderno INTEGER PRIMARY KEY,
empno INTEGER,
custno INTEGER,
supplier TEXT,
price INTEGER);
''')
db.commit()
# N.B. The commit function is invoked on the db object, not the cursor object.

OperationalError: table orders already exists

To insert data we use the cursor to execute the query.

In [10]:
cursor.execute('''INSERT INTO orders
VALUES (1, 1, 42, "Harrison", 235);
''')
db.commit()

In [13]:
more_new_vals = [(2, 4, 1, "Ford", 234),
           (3, 1, 68, "Harrison", 415),
           (4, 2, 112, "Ford", 350),
           (5, 3, 42, "Ford", 234),
           (6, 2, 112, "Ford", 350),
           (7, 2, 42, "Harrison", 235)]

cursor.executemany('''INSERT INTO orders
VALUES (?,?,?,?,?)
''', more_new_vals)
db.commit()

In [16]:
# view table?
cursor.execute('''SELECT *
FROM orders;''')

In [17]:
import pandas as pd

In [18]:
pd.read_sql_query("SELECT * FROM orders;", db)

   orderno  empno  custno  supplier  price
0        1      1      42  Harrison    235
1        2      4       1      Ford    234
2        3      1      68  Harrison    415
3        4      2     112      Ford    350
4        5      3      42      Ford    234
5        6      2     112      Ford    350
6        7      2      42  Harrison    235